@mixin fontFace($family,$src) {
  @font-face {
    font-family: $family;
    src: url($src);
  }
}
@include fontFace("PTSans","../fonts/PTSans.ttf");
@include fontFace("PTSansBold","../fonts/PTSans bold.ttf");
@include fontFace("HelveticaNeueBold","../fonts/Helvetica Neu Bold.ttf");
a{
  text-decoration: none;
  color: black;
}
img {
  width: auto;
}
ul{
  list-style: none;
  padding: 0;
  margin: 10px auto;
}
.container{
  width: 960px;
  margin: 0 auto;
  padding-left: 20px;
}
.row{
  display: flex;
  flex-direction: row;
}
.no-padding{
  padding: 0;
}
@mixin col($width){
  display: flex;
  flex-direction: column;
  width: $width;
}
@mixin fc($font-s,$color:black,$fw:normal,$tal:left,$ff:"PTSans"){
  font-size: $font-s;
  color: $color;
  font-weight: $fw;
  text-align: $tal;
  font-family: $ff;
}
body{
  margin: 0;
  background: #0e0e0e;
  font-family: "PTSans";
}
#main{
  background: #fff;
}
#wrapper{
  margin: 0 auto;
  width: 1400px;
}
#header{
  background: #fcdb00;
  padding-top: 60px;
}
#top-head{
  margin-bottom: 60px;
}
.menu{
  padding-left: 80px;
  @include fc(22px,$ff:"PTSansBold",$tal:center)
}
#footer{
  background: #010101;
  padding: 95px 0 120px 0;
}
.dots{
  text-align: center;
  height: 100px;
  line-height: 100px;
}
.dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #feed80;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
.dot:hover {
  background-color: #fff;
}
$x :10%;
@for $i from 1 through 7 {
  .col-#{$i}{
    @include col($x)
  }
  $x : $x + 10%;
}
$y :80px;
@for $i from 1 through 3 {
  .w#{$i}{
    width: $y;
  }
  $y : $y*2;
}
.ipad{
  padding-left: 100px;
}
.cont{
  @include fc(16px,#898989)
}
.cont-pr{
  padding: 70px 70px 0 0 ;
  margin-bottom: 45px;
}
.logo{
  height: 50px;
  width: 50px;
  margin-right: 20px;
}
.ipad{
  padding-left: 100px;
}
.td{
  @include fc(32px,#010101,$ff:"PTSansBold",$tal:center);
  margin-bottom: 15px;
}
.text{
  margin: 0 auto 70px auto;
  text-align: center;
  padding-top: 100px;
  width: 800px;
}
#space{
  margin-bottom: 150px;
}
.item{
  @extend .row;
  width: 320px;
  margin-bottom: 90px;
}
.gt{
  font-size: 20px;
  margin-bottom: 25px;
  color: #313841;
}
.bt{
  width: 80px;
  padding-top: 5px;
  text-align: center;
}
.nd{
  width: 240px;
  padding-left: 10px;
}
.td-item{
  @include fc(22px,#010101);
  margin-bottom: 15px;
}
.sub-email{
  text-align: center;
  width: 800px;
  margin-left: 80px;
}
.td-footer{
  @include fc(32px,#fcdb00,$fw:bold,$tal:center);
  margin-bottom: 20px;
}
.nd-footer{
  @include fc(20px,#898989,$tal:center);
  word-spacing: 2px;
  margin-bottom: 40px;
}
.form{
  padding-left: 20px;
}
.email {
  @include fc(16px,#898989);
  border-radius: 3px;
  padding: 15px 25px;
  border: none;
  margin-right: 25px;
}
.sub{
  @include fc(16px,#010101,$fw:bold);
  border-radius: 3px;
  background: #fcdb00;
  padding: 15px 35px;
  border: none;
}
.icons{
  text-align: center;
  margin-top: 80px;
}
.icon{
  @include fc(45px,#fcdb00);
  margin-right: 30px;
}
.info{
  @include fc(16px,#fff);
  margin-top: 100px;
  width: 900px;
}
.add{
  width: 20%;
  margin: 0 90px 0 15px;
}
